<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/context.properties</value>
				<value>WEB-INF/secrets.properties</value>
			</list>
		</property>
	</bean>

	<!-- ### Database Configuration ### -->
	<!-- direct begin -->
	<bean id="directDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	<!-- direct end -->

	<!-- datasource using dbcp begin #-> <bean id="dbcpDataSource" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close"> <property name="driverClassName" value="${db.driver}" 
		/> <property name="url" value="${db.rul}" /> <property name="username" value="${db.username}" 
		/> <property name="password" value="${db.password}" /> <property name="maxIdle" 
		value="20" /> <property name="maxWait" value="1000" /> <property name="defaultAutoCommit" 
		value="false" /> <property name="removeAbandoned" value="true" /> <property 
		name="removeAbandonedTimeout" value="120" /> </bean> <!-# datasource using 
		dbcp end -->

	<!-- datasource using c3p0 connection pool #->
	<bean id="c3p0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.driver}" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="acquireIncrement" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="minPoolSize" value="5" />
		<property name="user" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	<!-# c3p0 pool end -->
	<!-- default data source -->
	<alias name="directDataSource" alias="dataSource" />

	<!-- Using JPA, so, setup the EntityManagerFactory, take a look at: http://www.baeldung.com/2011/12/13/the-persistence-layer-with-spring-3-1-and-jpa/ -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="cn.edu.nenu.acm.oj.entitybeans" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="${db.hibernate.showsql}" />
				<property name="generateDdl" value="${db.bibernate.generateDdl}" />
				<property name="databasePlatform" value="${db.dialect}" />
			</bean>
		</property>
	</bean>
	<!-- TransactionManager -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="cn.edu.nenu.acm.oj" />
</beans>